/*Estilos Generales*/
.body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
a {color: #ffffff;}
a:hover{color: #ffffff;text-decoration: none;}
a:visited{color: #ffffff;text-decoration: none;}
.blanco{color: white !important;}
#myProfile, #tecnologias, #portfolio, #actual, #lineaTiempo, #otros, #services, #contacto{margin-top: -85px; height: 2px; width: 2px; position: absolute;}
.dos{display: none;}

/*estilos navbar*/
.nav.navbar-nav {margin: 0 auto; display: block; width: 1080px; float: inherit; }
.navbar-fixed-top {background-color: rgba(0,100,133,0.8);font-size: 16px; }
.navbar-default .navbar-nav>li>a {color: white !important; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {background-color: #00c0ff; color: #ffffff !important;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {color: #53d4ff !important;font-size: 20px;transition: .5s; }
.nav>li {margin-left: 90px !important; }
.navbar-default {border-color: #33839d; }

/*estilos carrusel*/
.imgSlider{height: 698.182px;}
.danielTitle{font-size: 4.5em;margin-bottom: 0;}
.webParag{font-size: 2em; margin-bottom: 5px; padding: 0 8px; letter-spacing: 0.1em; line-height: 3em; text-transform: uppercase; }
.itgamEgres{height: 100% !important; width: 100%;padding: 60px;}
.itgamEsc{height: 100% !important; width: 100%;}
.atTop{top: 100px; bottom: auto;}
.itgamTitle{font-size: 3.5em;color: #5bc0de;}
.fa{font-size: 40px !important; color: white;margin-left: 15px;}
.fa:hover{color: #00c0ff;}
.contactBtn{background-color: #00c0ff; border: none; margin-top: 20px; padding: 5px 20px; font-size: 20px;margin-left: 15px;color: #ffffff;box-shadow: 0 5px #666;border-radius: 15px;}
.contactBtn:active{transform: translateY(4px);}
.carousel-inner {margin-top: -10px; }
.grad{width: 100%;}

/*estilos typed*/
.sentences {text-align: center; font-size: 18px; color: #ffffff; }
/*.animacion {background-color: #006485; color: white; padding: 70px;}*/
.typed-cursor {font-size: 30px;}

/*estilos del perfil*/
.danielPhoto{border: 0;width: 265px;height: 269px; margin: 0 20px 20px 0; border-radius: 50%;}
.style-two {border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
.Learning{font-size: 1.5em;}
.profile{font-size: 3em; font-weight: 700; letter-spacing: 5px;color: #00c0ff;margin-bottom: 20px;}
.myProfile{padding: 30px 0px;}
.profileParag{font-size: 17px;}
.descargarPerfil{margin: 0 auto;display: block;}

/*estilos tecnologias*/
.tecnologias {padding: 40px; }

/*estilos del portfolio*/
.portfolio {padding: 20px;}
.img-thumbnail{border: 3px solid #00c0ff !important;}
.titleItem{color: #00c0ff;text-align: center;}
.circle {stroke: #00c0ff; }
circle.border {stroke: white; }
text.timer {fill: white; }
.style-three {border: 0; border-bottom: 2px dashed #fff; background: black;}

/*estilos acordeon de cursos completados*/
.actual {background: #333;color: #fff;padding: 30px;}
.panel-default>.panel-heading {color: #fff; background-color: #00c0ff; text-align: center;}
.panel-title {font-size: 20px; }
.itemSpace{margin-top: 15px;}
.style-twos {border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)); }
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    background-image: url(../img/white-black-light-lines-patterns.jpg); background-size: contain; background-repeat: round;
}

/* estilos Timeline */
.flecha:hover{color: #ffffff;}
.timeline-horizontal {list-style: none; padding: 20px; position: relative; }
.timeline:before {top: 40px; bottom: 0; position: absolute; content: " "; width: 3px; background-color: #eeeeee; left: 50%; margin-left: -1.5px; }
.timeline .timeline-item {margin-bottom: 20px; position: relative; }
.timeline .timeline-item:before,
.timeline .timeline-item:after {content: ""; display: table; }
.timeline .timeline-item:after {clear: both; }
.timeline .timeline-item .timeline-badge {color: #fff; width: 54px; height: 54px; line-height: 52px; font-size: 22px; text-align: center; position: absolute; top: 18px; left: 50%; margin-left: -25px; background-color: #7c7c7c; border: 3px solid #ffffff; z-index: 100; border-top-right-radius: 50%; border-top-left-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; }
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {top: 2px; left: 0px; }
.timeline .timeline-item .timeline-badge.primary {background-color: #006485; }
.timeline .timeline-item .timeline-badge.info {background-color: #006485; }
.timeline .timeline-item .timeline-badge.success {background-color: #006485; }
.timeline .timeline-item .timeline-badge.warning {background-color: #d1bd10; }
.timeline .timeline-item .timeline-badge.danger {background-color: #ba1f1f; }
.timeline .timeline-item .timeline-panel {position: relative; width: 46%; float: left; right: 16px; border: 1px solid #c0c0c0; background: #006485;color: white; border-radius: 2px; padding: 20px; -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }
.timeline .timeline-item .timeline-panel:before {position: absolute; top: 26px; right: -16px; display: inline-block; border-top: 16px solid transparent; border-left: 16px solid #c0c0c0; border-right: 0 solid #c0c0c0; border-bottom: 16px solid transparent; content: " "; }
.timeline .timeline-item .timeline-panel .timeline-title {margin-top: 0; color: inherit; }
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {margin-bottom: 0; }
.timeline .timeline-item .timeline-panel .timeline-body > p + p {margin-top: 5px; }
.timeline .timeline-item:last-child:nth-child(even) {float: right; }
.timeline .timeline-item:nth-child(even) .timeline-panel {float: right; left: 16px; }
.timeline .timeline-item:nth-child(even) .timeline-panel:before {border-left-width: 0; border-right-width: 14px; left: -14px; right: auto; }
.timeline-horizontal {list-style: none; position: relative; padding: 20px 0px 20px 0px; display: inline-block; }
.timeline-horizontal:before {height: 3px; top: auto; bottom: 26px; left: 56px; right: 0; width: 100%; margin-bottom: 20px; }
.timeline-horizontal .timeline-item {display: table-cell; height: 460px; width: 20%; min-width: 320px; float: none !important; padding-left: 0px; padding-right: 20px; margin: 0 auto; vertical-align: bottom; }
.timeline-horizontal .timeline-item .timeline-panel {top: auto; bottom: 64px; display: inline-block; float: none !important; left: 0 !important; right: 0 !important; width: 100%; margin-bottom: 20px; }
.timeline-horizontal .timeline-item .timeline-panel:before {top: auto; bottom: -16px; left: 28px !important; right: auto; border-right: 16px solid transparent !important; border-top: 16px solid #c0c0c0 !important; border-bottom: 0 solid #c0c0c0 !important; border-left: 16px solid transparent !important; }
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {display: none; }
.timeline-horizontal .timeline-item .timeline-badge {top: auto; bottom: 0px; left: 43px; }
.margenArrow{margin-bottom: 20px;}

.fa {color: #ffffff; }
.style-four {height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgb(255, 255, 255); }
.lineaTiempo {background: #5bc0de; }
a.normalLink{color: #ffffff !important;}
.timeline-title {font-size: 22px; }
.margen{margin-top: 15px !important;}
.ingles{font-size: 20px;text-align: center;}
span.rotate{font-size: 35px;color: #00c0ff;}
.left{text-align: left;}
.right{text-align: right;}

.rw-wrapper{width: 80%; position: relative; margin: 0px; font-family: 'Bree Serif'; padding: 10px; }
.rw-sentence{margin: 0; text-align: left; text-shadow: 1px 1px 1px rgba(255,255,255,0.8); }
.rw-sentence span{color: #444; white-space: nowrap; font-size: 80px; font-weight: normal; }
.rw-words{display: inline; text-indent: 10px; }
.rw-words span{position: absolute; opacity: 0; overflow: hidden; width: 100%; color: #6b969d; }
.rw-words-1 span{animation: rotateWordsFirst 18s linear infinite 0s; }
.rw-words-2 span{animation: rotateWordsSecond 18s linear infinite 0s; }
.rw-words span:nth-child(2) {animation-delay: 3s; color: #6b889d; }
.rw-words span:nth-child(3) {animation-delay: 6s; color: #6b739d; }
.rw-words span:nth-child(4) {animation-delay: 9s; color: #7a6b9d; }
.rw-words span:nth-child(5) {animation-delay: 12s; color: #8d6b9d; }
.rw-words span:nth-child(6) {animation-delay: 15s; color: #9b6b9d; }
@keyframes rotateWordsFirst {0% { opacity: 1; animation-timing-function: ease-in; height: 0px; } 8% { opacity: 1; height: 60px; } 19% { opacity: 1; height: 60px; } 25% { opacity: 0; height: 60px; } 100% { opacity: 0; } }
@keyframes rotateWordsSecond {0% { opacity: 1; animation-timing-function: ease-in; width: 0px; } 10% { opacity: 0.3; width: 0px; } 20% { opacity: 1; width: 100%; } 27% { opacity: 0; width: 100%; } 100% { opacity: 0; } }

.progress-bar {color: black; background-color: #00c0ff;font-size: 15px;}
.normalLink{color: initial !important;}

.typed-cursor{display: none; }
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*estilos otros cv*/
.position {margin-left: auto; margin-right: auto; text-align: center; margin-top: 15%; }
#workarea {position: absolute; width: 100%; height: 100%; background-color: #1e1a3e; }
#personal {color:white; text-decoration:none; position:absolute; bottom:15px; right:2%; }
/*    start code for the actual button:         */


/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {margin-top: 0; position: relative; width: 150px; /*make sure to use same height/width as in the html*/
  height: 40px; display: inline-block; border-radius: 3px; margin-left: 5px; margin-right: 5px }
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {stroke-width: 6px; fill: transparent; stroke: #009FFD; stroke-dasharray: 85 400; stroke-dashoffset: -220; transition: 1s all ease; }

/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {margin-top: -35px; text-align: center; }

#text a {color: white; text-decoration: none; font-weight: 100; font-size: 1.1em; }
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {stroke-dasharray: 50 0; stroke-width: 3px; stroke-dashoffset: 0; stroke: #06D6A0; }

.cvOthers{background-color: #222;padding: 20px 0 40px !important; }
.svg-wrapper {margin-left: 40px; }

/*estilos servicios*/
.friendServices{padding: 15px 0 30px;}
.contactBtnService{background-color: #00c0ff; border: none; padding: 3px 12px; font-size: 13px; margin-left: 2px; color: #ffffff; box-shadow: 0 5px #666; border-radius: 15px;}
.erikFrase{margin: 0 -15px 10px;}

.service-item {width: 100%; height: 320px; margin: 10px 0; text-align: center; border: 1px solid #f2f2f2; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.service-item i {position: relative; top: 100px; display: inline-block; margin-bottom: 40px; padding: 10px; background: #fff; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; font-size: 48px; }
.service-item h5 {color: #777; position: relative; top: 80px; -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.service-item .service-desc {width: 80%; margin: 0 auto; opacity: 0; -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); -webkit-transform: scale(0); transform: scale(0); }
.service-item:hover {border-color: #00c0ff; }
.service-item:hover i {top: -30px; }
.service-item:hover h5 {top: -30px; }
.service-item:hover .service-desc {opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
.margenAbajo{margin-bottom: 40px;}
.masInfo{display: none;}

/*estilos contacto*/
.miContacto {padding: 1px 0 50px;}

.form, textarea, input {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.formContainer {max-width: 510px; min-width: 324px; margin: 50px auto 0px; background-color: #333; border: 1px solid #cfcfcf; border-bottom: 3px solid #ccc; }

.rowForm {width: 100%; margin: 0 0 1em 0; padding: 0 2.5em; }
.rowForm.header {padding: 1.5em 2.5em; border-bottom: 1px solid #ccc; background: url(http://niiiick.com/files/blur-city-1.jpg) left -80px; color: #fff; }
.rowForm.body {padding: .5em 2.5em 1em; }

.pull-right {float: right; }

.contactTitle {font-weight: 300; display: inline-block; font-weight: 100; font-size: 2.8125em; border-bottom: 1px solid rgba(255, 255, 255, 0.3); margin: 0 0 0.1em 0; padding: 0 0 0.4em 0; }

.contactSubtitle {font-weight: 400; font-size: 1.25em; margin: 1em 0 0.4em 0; }

.btnContact {font-size: 1.0625em; display: inline-block; padding: 0.74em 1.5em; margin: 1.5em 0 0; color: #fff; border-width: 0 0 0 0; border-bottom: 5px solid; text-transform: uppercase; background-color: #b3b3b3; border-bottom-color: #8c8c8c; font-weight: 300; }
.btnContact:hover {background-color: #bfbfbf; }
.btnContact.btn-submit {background-color: #00c0ff; color: #fff; border-bottom-color: #ffffff; border-bottom-width: 2px; }
.btnContact.btn-submit:hover {background-color: #5f7db6; }

form.contactForm {max-width: 100%; display: block; }
form.contactForm ul {margin: 0; padding: 0; list-style: none; }
form.contactForm ul li {margin: 0 0 0.25em 0; clear: both; display: inline-block; width: 100%; }
form.contactForm ul li:last-child {margin: 0; } form.contactForm ul li p {margin: 0; padding: 0; float: left; }
form.contactForm ul li p.right {float: right; }
form.contactForm ul li .divider {margin: 0.5em 0 0.5em 0; border: 0; height: 1px; width: 100%; display: block; background-color: #4f6fad; background-image: linear-gradient(to right, #ee9cb4, #4f6fad); }
form.contactForm ul li .req {color: red; }
form.contactForm label {display: block; margin: 0 0 0.5em 0; color: #00c0ff; font-size: 1em; }
form.contactForm input {margin: 0 0 0.5em 0; border: 1px solid #ccc; padding: 6px 10px; color: #555; font-size: 1em; }
form.contactForm textarea {border: 1px solid #ccc; padding: 6px 10px; width: 100%; color: #555; }
form.contactForm small {color: #4f6fad; margin: 0 0 0 0.5em; }

@media only screen and (max-width: 480px) {
  .pull-right {float: none; }

  form.contactForm input {width: 100%; }

  form.contactForm label {width: 100%; display: inline-block; float: left; clear: both; }

  form.contactForm li, p {width: 100%; }

  form.contactForm input.btn {margin: 1.5em 0 0.5em; }

  .contactTitle {font-size: 2.25em; }

  .contactSubtitle {font-size: 1.125em; }

  form.contactForm li small {display: none; }
}

/*estilos Back to Top*/
#return-to-top {position: fixed; bottom: 20px; right: 20px; background: rgb(0, 0, 0); background: rgb(0, 192, 255); width: 50px; height: 50px; display: block; text-decoration: none; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

#return-to-top i {color: #fff; margin: 0; position: relative; left: 16px; top: 13px; font-size: 19px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

#return-to-top:hover {background: rgb(0, 100, 133);cursor: pointer; }

#return-to-top:hover i {color: #fff; top: 5px; }

/*estilos footer*/
footer {background: #006485;color: #ffffff;font-size: 17px; }
.footerB{background: #5bc0de;padding: 16px 0 10px;}
ul{list-style: none;}
.iconito{color: #5bc0de;font-size: 20px !important;margin-left:0px;margin-bottom: 9px; }
.iconito:hover{color: #5bc0de}
.iconi{font-size: 30px !important; margin-right: 5px;color: #5bc0de;margin-left:0px;margin-bottom: 9px;}
.iconi:hover{color: #5bc0de}
.fa-envelope-o {margin-left: -5px; padding-right: 4px; }
.RighTwo{float: right;}
.lefTwo{margin-left: -25px;}
.powered{font-size: 17px; color: #ffffff;}
.faDos{font-size: 30px !important;}
.faDos:hover{color: #ffffff;}
span {font-weight: bold; font-size: 19px;}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

/*media queries*/
@media (max-width: 1200px){
  .nav.navbar-nav {font-size: 14px; }
  .tecnologias {padding: 40px 0; }
  .grad {height: 100% !important; }
  .danielPhoto {width: 225px; margin-top: 42px !important; height: 229px; }
  .service-item {height: 370px; }
  .contactBtnService {margin-top: 12px; }
}

@media (max-width: 990px){
  .danielPhoto {margin-left: -50px; }
  .desliza{text-align: left;}
  .margenArrow{text-align: left;}
}

@media (max-width: 767px){
  .danielPhoto {margin: 0 auto; display: block; margin-bottom: 20px;}
  .svg-container {width: 30% !important; }
  .profile {font-size: 2.5em; }
  .img-thumbnail {margin-bottom: 20px; }
  .service-item {height: 290px !important; margin-top: 35px;}
  .miContacto {background-size: contain; }
  .centro{text-align: center !important;}
  .nav.navbar-nav {width: 100%; }
  .navbar-default .navbar-toggle {border-color: #00c0ff; background-color: #00c0ff !important; }
  .navbar-default .navbar-toggle .icon-bar {background-color: #ffffff; }
  .navbar-default .navbar-toggle:hover {border-color: #ffffff; background-color: #ffffff !important; }
  .navbar-default .navbar-toggle:hover .icon-bar {background-color: #00c0ff !important; }
  .uno{display: none;}
  .dos{display: initial;}
  .tres{margin-top: 10px !important;}
  .grad, .itgamEgres, .itgamEsc {height: 70% !important; }
  .carousel-inner {height: 489px; }
  .carousel-caption {bottom: 240px; }
  .masInfo{display: initial;}
  .svg-wrapper{margin-top: 20px; font-size: 17px;}
  .tecnologias{background-size: contain !important;}
}

@media(max-width: 600px){
  .grad, .itgamEgres, .itgamEsc {height: 50% !important; }
  .danielTitle {font-size: 2.5em; }
  .carousel-inner {height: 349px; }
  .carousel-caption {bottom: 380px; }
  .itgamTitle {display: none; }
  .simplefilter li {margin-bottom: 8px; }
}

@media (max-width: 480px){
  .grad, .itgamEgres, .itgamEsc {height: 45% !important; }
  .carousel-inner {height: 314px; }
  .webParag {font-size: 1.5em; }
  .fa {font-size: 30px !important; }
  .contactBtn {font-size: 15px; }
  .carousel-caption {bottom: 420px; }
  .dos {font-size: 15px; }
  .svg-container {width: 40% !important; }
  .service-item {height: 330px !important; }
  .navbar-fixed-top .navbar-collapse {max-height: 300px; }
}

@media(max-width: 320px){
  .grad, .itgamEgres, .itgamEsc {height: 35% !important; }
  .carousel-inner {height: 244px; }
  .danielTitle {font-size: 2em; }
  .webParag {font-size: 1.3em; }
  .fa {font-size: 24px !important; }
  .carousel-caption {bottom: 474px; }
  .contactBtn {font-size: 12px; }
  .contactBtn {margin-top: 10px; }
  .profile {font-size: 1.7em; }
  .svg-container {width: 60% !important; }
  .Learning {font-size: 1.2em; }
  .panel-title {font-size: 15px; }
  .service-item i {font-size: 35px; }
  .erikFrase {margin: 0; }
  .service-item {height: 380px !important;margin-top: 30px; }
  .formContainer {min-width: 314px; }
  #return-to-top{width: 40px; height: 40px;}
  #return-to-top i{left: 11px; top: 10px;}
}







